body {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
	font-family: 'Roboto', sans-serif;
	background: url('background-image.png') center no-repeat;
	background-size: cover;
}
