<script lang="ts">
	import { enhance } from '$app/forms';
</script>

<form method="POST" action="?/inquiry" use:enhance>
	<div class="field">
		<label class="label" for="email">Email</label>
		<div class="control">
			<input name="email" class="input" type="text" placeholder="email@example.com" />
		</div>
	</div>

	<div class="field">
		<label for="inquiry" class="label">Inquiry</label>
		<div class="control">
			<textarea name="inquiry" class="textarea" placeholder=""></textarea>
		</div>
	</div>

	<button class="button is-warning is-medium">Submit</button>
</form>

<style>
	form {
		position: absolute;
		top: 53%;
		left: 50%;
		transform: translate(-50%, -50%);
		max-width: 600px;
		min-width: 300px;
		width: 100%;
		margin: 0 auto;
		padding: 40px;
		background-color: #fbfbfb;
		border-radius: 20px;
	}

	button {
		margin: auto;
	}

	.field {
		margin-bottom: 1rem;
	}

	.label {
		font-weight: bold;
		margin-bottom: 0.5rem;
	}

	.control {
		display: flex;
		flex-direction: column;
	}

	.coming-soon {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: -10rem;
		margin-bottom: 2rem;
	}
	h1 {
		text-align: center;
		padding: 0;
		font-weight: 800;
		font-size: 5rem;
		color: #fbfbfb;
		/* color:; */
	}
</style>
